{% extends "layout.njk" %}

{% block content %}

    <div class="card-admin">
        <div class="title-admin">
            <h1>Lista de produtos</h1>
    </div>
        
    <table>      
        <tbody>
    
            {% for dado in dados %}
            <tr>
                <td>{{dado.name}}</td>
                <td>R$ {{dado.preco}}</td>
                <td ><a href="/admin/{{dado.id}}" class="editar-item"><p>Editar</p></a></td>
                
            </tr>
            {% endfor %}
            

        </tbody>

    </table>

</div>



{% endblock %}