<!DOCTYPE html>
<html>

    <head>
        
        <link rel="stylesheet" href="/styles.css">

        {% block head %}

            <title>TI Tech - Cotação</title>
            
        {% endblock %}
    
    </head>

<body>
    <header>
        <div class="logo_titech">
        </div>
    </header>
    

    {% block content %}

    {% endblock %}

    <div class="footer">
        <div id="links-footer" class="links">            
            <p>Todos os direitos reservados. 2021.</p>
        </div>
    </div>

</body>

</html>